<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Logo
                </th>
                <th scope="col" class="px-6 py-3">
                    Primary
                </th>
                <th scope="col" class="px-6 py-3">
                    <button onclick="goToBookmakersFormPage()" class="px-4 py-2 text-sm bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded float-right">
                        Create
                    </button>
                </th>
            </tr>
        </thead>
        <tbody id="bookmakersTable">
            
        </tbody>
    </table>
</div>

<script src="~/js/BookmakersList.js"></script>
